# Target Configuration
CONFIG_IDF_TARGET="esp32s3"

# WiFi Provisioning
CONFIG_NETWORK_PROV_NETWORK_TYPE_WIFI=y
CONFIG_PROV_SECURITY_VERSION_1=y
CONFIG_PROV_POP_CODE="abcd1234"
CONFIG_WIFI_MAXIMUM_RETRY=5
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1=y